

<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>E-commerce!</h1>
      <div style="width:100%;">
        <div style="width:48%;float:left;">
        <h4>Customer Details</h4>
        <a href="https://ecommerce-a04.herokuapp.com/customer">https://ecommerce-a04.herokuapp.com/customer</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/customer/delete/4">https://ecommerce-a04.herokuapp.com/customer/delete/4</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/customer/details/4">https://ecommerce-a04.herokuapp.com/customer/details/4</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/customer/edit/4">https://ecommerce-a04.herokuapp.com/customer/edit/4</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/customer/findall">https://ecommerce-a04.herokuapp.com/customer/findall</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/customer/findone/4">https://ecommerce-a04.herokuapp.com/customer/findone/4</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/customer/create">https://ecommerce-a04.herokuapp.com/customer/create</a><br>
        <h4>Order Details</h4>
        <a href="https://ecommerce-a04.herokuapp.com/order">https://ecommerce-a04.herokuapp.com/order</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/order/delete/4">https://ecommerce-a04.herokuapp.com/order/delete/4</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/order/details/4">https://ecommerce-a04.herokuapp.com/order/details/4</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/order/edit/4">https://ecommerce-a04.herokuapp.com/order/edit/4</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/order/findall">https://ecommerce-a04.herokuapp.com/order/findall</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/order/findone/1">https://ecommerce-a04.herokuapp.com/order/findone/1</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/order/create">https://ecommerce-a04.herokuapp.com/order/create</a><br>
        
        </div>
        <div style="width:48%;float:left;">
        <h4>Product Details</h4>
        <a href="https://ecommerce-a04.herokuapp.com/product">https://ecommerce-a04.herokuapp.com/product</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/product/delete/28">https://ecommerce-a04.herokuapp.com/product/delete/28</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/product/details/28">https://ecommerce-a04.herokuapp.com/product/details/28</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/product/edit/28">https://ecommerce-a04.herokuapp.com/product/edit/28</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/product/findall">https://ecommerce-a04.herokuapp.com/product/findall</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/product/findone/28">https://ecommerce-a04.herokuapp.com/product/findone/28<br></a>
        <a href="https://ecommerce-a04.herokuapp.com/product/create">https://ecommerce-a04.herokuapp.com/product/create</a><br>
        <h4>OrderLineItems details</h4>
        <a href="https://ecommerce-a04.herokuapp.com/orderLineItem">https://ecommerce-a04.herokuapp.com/orderLineItem</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/orderLineItem/delete/7">https://ecommerce-a04.herokuapp.com/orderLineItem/delete/7</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/orderLineItem/details/7">https://ecommerce-a04.herokuapp.com/orderLineItem/details/7</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/orderLineItem/edit/7">https://ecommerce-a04.herokuapp.com/orderLineItem/edit/7</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/orderLineItem/findall">https://ecommerce-a04.herokuapp.com/orderLineItem/findall</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/orderLineItem/findone/1">https://ecommerce-a04.herokuapp.com/orderLineItem/findone/1</a><br>
        <a href="https://ecommerce-a04.herokuapp.com/orderLineItem/create">https://ecommerce-a04.herokuapp.com/orderLineItem/create</a>
        
        
        
        
        </div>
        
        
        </div>











     <div class="lay" style="background:#F67280;">

      <p>There are
        <%= customers.query.length %> customers.
          <br/>
      </p>
      <% for (var i = customers.query.length-1; i >= 0; i--) {   
        customer = customers.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  customer._id %>
              <br> Email:
              <%=customer.email%>
                <br/> Given Name:
                <%=customer.given%>
                  <br/> Family Name:
                  <%=customer.family%>
                  <br/> Address:
                  <br/>Street 1:
                  <%=customer.street1%>
                  </br>Street 2:
                  <%=customer.street2%>
                </br>City:
                <%=customer.city%>
              </br>State:
              <%=customer.state%>
            </br>Zip:
            <%=customer.zip%>
            <br/>
            <%=customer.country%>

      
          </div>
        </div>
        <% } %>
<center><a href="/customer" class="btn btn-info">Open Customer Data</a></center>


     </div>
     <div class="lay" style="background:#C06C84;">


      <p>There are
        <%= orders.query.length %> orders.
          <br/>
      </p>
      <% for (var i = orders.query.length-1; i >= 0; i--) {   
        order = orders.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  order._id %>
              <br> Email:
              <%=order.email%>
                <br/> datePlaced:
                <%=order.datePlaced%>
                  <br/> dateShipped:
                  <%=order.dateShipped%>
                  <br/> paymentType:
                  <%=order.paymentType%>
                  </br>amountDue:
                  <%=order.amountDue%>
                </br>paid:
                <%=order.paid%>

          </div>
        </div>
        <% } %>

        <center><a href="/order" class="btn btn-info">Open Orders Data</a></center>
     </div>
     <div class="lay" style="background:#6C5B7B;">

      <p>There are
        <%= products.query.length %> products.
          <br/>
      </p>
      <% for (var i = products.query.length-1; i >= 0; i--) {   
        product = products.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  product._id %>
              <br> productKey:
              <%=product.productKey%>
                <br/> description:
                <%=product.description%>
                  <br/> unitPrice:
                  <%=product.unitPrice%>
                 
          </div>
        </div>
        <% } %>

        <center><a href="/product" class="btn btn-info">Open Products Data</a></center>

     </div>
     <div class="lay" style="background:#355C7D;">

      <p>There are
        <%= orderLineItems.query.length %> orderLineItems.
          <br/>
      </p>
      <% for (var i = orderLineItems.query.length-1; i >= 0; i--) {   
        orderLineItem = orderLineItems.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
<%=  orderLineItem._id %>
  <br> orderID:
  <%=orderLineItem.orderID%>
    <br/> lineNumber:
    <%=orderLineItem.lineNumber%>
      <br/> productKey:
      <%=orderLineItem.productKey%>
      <br/> quantity:
      <%=orderLineItem.quantity%>
      
          </div>
        </div>
        <% } %>

        <center><a href="/orderLineItem" class="btn btn-info">Open orderLineItems Data</a></center>


     </div>
<style>
body{background:#F8B195;}
.lay{width:45%;height:auto;border:1px solid;float:left;margin-right: 22px;}
</style>


    </div>
  </div>
</div>