<!-- main  -->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="name" name="email" value="<%= category.email %>" required>
    </div>
    <div class="form-group">
      <label for="given">Given</label>
      <input type="text" class="form-control" id="breed" name="given" value="<%= category.given %>">
    </div>
    <div class="form-group">
      <label for="family">Family</label>
      <input  type="text" class="form-control" id="age" name="family" value="<%= category.family %>" required>
    </div>

    <div class="form-group">
      <label for="street1">Street- 1</label>
      <input type="text" class="form-control" id="age" name="street1" value="<%= category.street1 %>" required>
    </div>

    <div class="form-group">
      <label for="street2">Street- 2</label>
      <input type="text" class="form-control" id="age" name="street2" value="<%= category.street2 %>" required>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" id="age" name="city" value="<%= category.city %>" required>
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" id="age" name="state" value="<%= category.state %>" required>
    </div>

    <div class="form-group">
      <label for="zip">Zip</label>
      <input type="number" class="form-control" id="age" name="zip" value="<%= category.zip %>" required>
    </div>

    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" id="age" name="country" value="<%= category.country %>" required>
    </div>


  </div>
</div>
<hr>

<!-- parents  -->
<p></p>


</div>