<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>transaction details</h2>
      <br>
      <br> ID: <%=  transaction._id %>
      <br> Email: <%=transaction.email%>
      <br> orderID:<%=transaction.orderID%>
      <br> dateShipped:<%=transaction.dateShipped%>
      <br> productID:<%=transaction.productID%>
      <hr>

      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>